#!/usr/bin/bash

changeEvery=300;     # seconds | program won't accept less than 10, and recommended is 60 or higher

theme=Papirus        # change if you're using Papirus-Dark or other icon theme. Use quotes ("") if name has spaces.

shuffleCycle=false   # (true | false) activate random order

shuffleStart=true    # (true | false) start from random color, continue in order (if not shuffling).

startupNotif=true    # (true | false) notify that program was started

colorNotif=true      # (true | false) notify when color changeds

# Enter colors separated by spaces or new lines.
# Arrange in desired order of cycling.
# Check available colors on https://github.com/PapirusDevelopmentTeam/papirus-folders

colors=(
black
bluegrey
brown cyan
green indigo
nordic
palebrown
pink
teal
white
yellow
blue
breeze
carmine
deeporange
grey
magenta
orange
paleorange
red
violet
yaru
)